.quota {
  margin: 1em 0 3em;
  table {
    font-size: 0.9em;
    tr {
      td:first-child {
        width: 4em;
      }
    }
  }
}

td {
  span.hover {
    display: none;
  }

  &:hover {
    span.hover {
      display: inline;
    }
  }
}
