.quota {
  margin: 1em 0 3em;
  overflow-x: scroll;

  table {
    font-size: 0.9em;

    tr {
      th:first-child {
        min-width: 40px;
      }

      th {
        min-width: 120px;
      }

      th:last-child {
        min-width: 180px;
      }
    }
  }
}

td {
  span.hover {
      visibility: hidden;
  }

  &:hover {
    span.hover {
    visibility: visible;
    }
  }
}
