// Colors
$primary: #319236;
$secondary: #0288d1;
$secondary-background: #f1f1f1;
$alt-text: #7a7a7a;
$text-muted: #888;
$red: #d74949;
$green: #319236;

$border-radius-base: 0;
$btn-border-radius-large: 2px;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
//$font-size-base: 14px;
$line-height-base: 1.618;
//$font-size-large: 16px;
$h1-font-size: 32px;
$h2-font-size: 20px;

// Inputs
$input-height-base: 33px;

// Bootstrap core mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
