.event-editor {
  .panel-default {
    position: relative;

    .panel-body {
      background: $secondary-background;
      padding-left: 50px;
    }

    .handler {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 40px;
      background: #fff;
      border-right: 1px solid #ddd;
      cursor: move;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        right: 5px;
        top: 50%;
        height: 1px;
        background: #ddd;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        right: 5px;
        top: 46.4%;
        height: 8%;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
    }
  }

  .tab-content {
    margin-top: 20px;
  }
}

.event-editor--valid-notice {
  display: flex;
  position: absolute;
  right: 20px;
  top: 170px;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  overflow: hidden;
  transition: all 0.5s ease;

  &.collapsed {
    height: 0;
    opacity: 0;
  }

  span b {
    color: #d74949;
    margin-right: 5px;
    font-weight: normal;
  }
}

.event-editor--saving-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
}

.event-editor--buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .event-editor--public-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;

    .event-editor--bubble {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin-right: 10px;

      &.draft {
        background-color: orange;
      }

      &.public {
        background-color: green;
      }
    }
  }
}

.event-editor--animated {
  transition: all 0.3s ease;
}

.event-editor--loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.event-editor--nav {
  clear: both;
  padding-top: 1em;
}
