{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "airbnb-base"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "DEV": false,
    "TEST": false,
    "PROD": false,
    "COVERAGE": false
  },
  "rules": {
    "indent": ["error", 2],
    "max-len": [2, 120, 2],
    "no-param-reassign": 0,
    "func-names": 0,
    "array-callback-return": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "semi": [2, "never"]
  }
}
