{
  "parser": "babel-eslint",
  "plugins": ["babel", "prettier", "react", "promise", "simple-import-sort"],
  "extends": [
    "standard",
    "standard-react",
    "airbnb-base",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "DEV": false,
    "TEST": false,
    "PROD": false,
    "COVERAGE": false,
    "BASENAME": true,
    "PREFIX_URL": true,
    "BRANDING_HEADER_TITLE": true,
    "BRANDING_FOOTER_GDPR_TEXT": true,
    "BRANDING_FOOTER_GDPR_LINK": true,
    "BRANDING_FOOTER_HOME_TEXT": true,
    "BRANDING_FOOTER_HOME_LINK": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80
      }
    ],
    "simple-import-sort/sort": [
      "error",
      {
        "groups": [
          ["^react$"],
          ["^@?\\w"],
          // Anything that does not start with a dot.
          ["^[^.]"],
          // Anything that starts with a dot.
          ["^."],
          // Css
          ["css$"]
        ]
      }
    ],
    "max-len": [2, 120, 2],
    "no-param-reassign": 0,
    "func-names": 0,
    "array-callback-return": 0
  }
}
