{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json", "server/tsconfig.json"]
  },
  "extends": [
    "standard",
    "standard-react",
    "airbnb-typescript"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "@typescript-eslint"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "DEV": false,
    "TEST": false,
    "PROD": false,
    "COVERAGE": false
  },
  "rules": {
    "indent": ["error", 2],
    "max-len": [2, 120, 2],
    "no-param-reassign": 0,
    "func-names": 0,
    "array-callback-return": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    // To allow grouping of class members - especially for Models.
    "@typescript-eslint/lines-between-class-members": "off",
    // TypeScript causes lots of circular imports for types, which the plugin
    // does not currently handle properly.
    // see https://github.com/benmosher/eslint-plugin-import/issues/1453
    "import/no-cycle": "off"
  }
}
