version: '3.2'

# This compose file demonstrates how Ilmomasiina could be run in a production environment.

# This compose file serves Ilmomasiina at http://localhost:8000.
# Env variables from .env file (in the repository root) will be used by docker compose and passed to the container.
# Remember to create your own .env file (see .env.example)!

services:
  ilmomasiina:
    build:
      context: .
      dockerfile: "Dockerfile"
      args:
        - API_URL=${API_URL}
        - SENTRY_DSN=${SENTRY_DSN}
        - PREFIX_URL=${PREFIX_URL}
        - BRANDING_HEADER_TITLE_TEXT=${BRANDING_HEADER_TITLE_TEXT}
        - BRANDING_FOOTER_GDPR_TEXT=${BRANDING_FOOTER_GDPR_TEXT}
        - BRANDING_FOOTER_GDPR_LINK=${BRANDING_FOOTER_GDPR_LINK}
        - BRANDING_FOOTER_HOME_TEXT=${BRANDING_FOOTER_HOME_TEXT}
        - BRANDING_FOOTER_HOME_LINK=${BRANDING_FOOTER_HOME_LINK}

    restart: always
    environment:
      - NODE_ENV=production
      - ENFORCE_HTTPS=false
      - PORT=3000
      # When deploying to production, either set ENFORCE_HTTPS true (default) or
      # configure the reverse proxy to enforce HTTPS communication with the clients.
    env_file:
      - .env
    ports:
      - "8000:3000"

