@import '../styles/_base.scss';

.sidebar-widget {
  background-color: $secondary-background;
  margin-bottom: 1em;
}

.enrollform{
  height: 100px;
  background-color: $secondary-background;
  text-align: center;
}
.btn{
  margin-bottom: 1em;
}

.progress {
  padding: 0;
}
