@import '../styles/_base.scss';

.asideComponent {
  background-color: $secondary-background;
  margin-bottom: 1em;
}

.enrollform{
  height: 100px;
  background-color: #f9f9f9;
  text-align: center;
}
.btn{
  margin: 1em
}

.progress {
  padding: 0;
}
