extends ../layout.pug

block mainContent
	div.content-block
		p.bodyText 
			| Ilmoittautumisesi tapahtumaan 
			strong #{eventName} 
			| onnistui! Mikäli haluat perua ilmoittautumisesi, voit tehdä niin painamalla tätä 
			a linkkiä. 
	div.content-block
		p.bodyText Ilmoittautumisesi tiedot:
		p.bodyText 
			strong Nimi: 
			| #{name}
			br
			strong Sähköposti: 
			| #{email}