@import "../../styles/base";

table.eventlist {
  tr.child {
    td:first-child {
      padding-left: 30px;
    }
    td {
      border-top: 0;
      padding-top: 0;
    }
  }
  tr.signup-opened {
    td.signup { color: $green; }
  }
  tr.signup-closed {
    td.signup { color: $red; }
  }
  tr.signup-disabled {
    td.signup { opacity: 0.45; }
  }

  img {
    max-width: 27vw;
    max-height: 20vh;
    border-width: 1px;
    border-color: $primary;
    border-style: solid;
  }
}

@include media-breakpoint-up(md) {
  table.eventlist tr td:first-child {
    min-width: 300px;
  }
}

@include media-breakpoint-down(xs) {
  table.eventlist {
    max-width: 100%;
    overflow: hidden;

    thead {
      display: none;
    }

    tbody {
      tr {
        display: block;
        padding: 10px 0 0;
        margin-top: 10px;

        td {
          display: block;
          padding: 0;
          border-top: 0;
        }

        td.title a {
          font-weight: 600;
        }

      }

      tr:not(:first-child) {
        border-top: 1px solid #ddd;
      }

      tr.child {
        padding-left: 15px;
        padding-top: 0;
        margin-top: 5px;
        border-top: 0;

        td.title {
          font-weight: 600;
          padding-bottom: 0;
        }

        td, td:first-child {
          padding-left: 0;
          padding-top: 0;
          font-size: 0.85em;
        }
      }
    }

    img {
      max-width: 90vw;
      max-height: 200;
    }
  }
}
