
// Colors
$brand-primary: #201E1E;
$brand-secondary: #FF8A04;
$secondary-background: #F1F1F1;
$alt-text: #7a7a7a;
$text-muted: #888;
$red: #d74949;
$green: #319236;
$brown: #DA690D;

// Buttons
$btn-default-bg: $brand-secondary;
$btn-default-color: #fff;
$btn-default-border: darken($btn-default-bg, 10%);

$btn-primary-bg: $green;
$btn-primary-color: #fff;
$btn-primary-border: darken($green, 10%);

$btn-success-bg: $green;
$btn-success-color: #fff;
$btn-success-border: darken($btn-success-bg, 10%);

$btn-danger-bg: $red;
$btn-danger-color: #fff;
$btn-danger-border: darken($btn-danger-bg, 10%);





$navbar-default-bg: $brand-primary;
$navbar-default-brand-color: #fff;

$border-radius-base: 0;
$btn-border-radius-large: 2px;

// Typography
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Source+Sans+Pro&display=swap');
//$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-serif: 'Lora', 'Georgia', serif;
$font-size-base: 14px;
$line-height-base: 1.618;
$font-size-large: 16px;

// Inputs
$input-height-base: 33px;

// Link customization
a {
	color: $brand-secondary;
}
a:hover {
	color: $brown;
}

// Bootstrap core mixins
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
