// Colors
$brand-primary: #4990de;
$secondary-background: #f1f1f1;
$alt-text: #7a7a7a;
$text-muted: #c5c5c5;
$red: #d74949;
$green: #4caf50;

$navbar-default-bg: $brand-primary;
$navbar-default-brand-color: #fff;

$border-radius-base: 0;
$btn-border-radius-large: 0;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.618;
$font-size-large: 16px;

// Inputs
$input-height-base: 33px;
