@import "base";
@import "bootstrap";

body,
html {
  height: 100%;
}

.btn[disabled] {
  opacity: 0.35;
}
#root {
  h1 {
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    margin: 1em 0;
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $alt-text;
  }

  h3 {
    font-weight: 600;
    font-size: 16px;
  }

  p {
    margin-bottom: 1.5em;
  }

  strong {
    font-weight: 600;
  }

  .checkbox label {
    font-weight: 400;
  }

  table.table {
    thead {
      th {
        border-bottom-width: 1px;
        font-weight: 600;
      }
    }
  }

  .required-symbol {
    color: $red;
    font-weight: 600;
  }

  .progress,
  .progress-bar {
    box-shadow: none;
  }

  textarea {
    max-width: 100%;
  }

  .layout-wrapper {
    display: flex;
    flex-direction: column;

    .page-wrapper {
      flex: 1 0 auto;
    }

    .page-footer {
      flex-shrink: 0;
    }
  }
}
