@import 'base';
@import 'bootstrap';

#root {
  h1 {
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    margin: 1em 0;
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $alt-text
  }

  h3 {
    font-weight: 600;
    font-size: 16px;
  }

  p {
    margin-bottom: 1.5em;
  }

  strong, label {
    font-weight: 600;
  }

  table.table {
    thead {
      th {
        border-bottom-width: 1px;
        font-weight: 600;
      }
    }
  }

  .required-symbol {
    color: $red;
    font-weight: 600;
  }

  .progress, .progress-bar {
    box-shadow: none;
  }

  textarea {
    max-width: 100%;
  }
}
