@import 'base';
@import 'bootstrap';
@import '~normalize.css/normalize';

h1 {
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  color: $alt-text
}

table.table {
  thead {
    th {
      border-bottom-width: 1px;
      font-weight: 600;
    }
  }
}

.separator {
  padding: 0 0.5em;
}
