@import "../../../../styles/base";

.close {
  position: absolute;
  right: 30px;
  top: 30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $alt-text;
  }
  &:before {
    transform: (rotate(45deg));
  }
  &:after {
    transform: (rotate(-45deg));
  }

  &:hover {
    &:before,
    &:after {
      background: lighten($alt-text, 20%);
    }
  }
}

.form-wrapper {
  width: 100%;
  margin: -22px 0 3em;
  padding: 4em 0;
  position: relative;

  p {
    margin: 2em 0;
  }
}

.input-wrapper {
  position: relative;
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1em;
  background: $green;

  display: flex;
  justify-content: center;
  align-items: center;
}
