.event-editor {

  .panel-default {
      position: relative;

    .panel-body {
      background: $secondary-background;
      padding-left: 50px;
    }

    .handler {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 40px;
      background: #fff;
      border-right: 1px solid #ddd;
      cursor: move;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        right: 5px;
        top: 50%;
        height: 1px;
        background: #ddd;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        right: 5px;
        top: 46.4%;
        height: 8%;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
    }
  }

  .tab-content {
    margin-top: 20px;
  }
}

.event-editor--valid-notice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  overflow: hidden;
  transition: all 0.5s ease;

  &.collapsed {
    height: 0;
    opacity: 0;
  }

  span b {
    color: #d74949;
    margin-right: 5px;
    font-weight: normal;
  }
}