@import "../../styles/base";

.sidebar-widget {
  display: flex;
  flex-direction: column;
  background-color: $secondary-background;
  padding: 2em 2em 1em;
  margin-bottom: 2em;

  h3 {
    margin-bottom: 1em;
  }
}

.event-heading {
  margin: 1em 0;
  padding: 1em 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  p {
    margin-bottom: 0;
  }
}

.singleEventContainer {
  overflow: hidden;
  word-break: break-word;
}

.single-event--loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
