#root {
  .sidebar-widget {
    background-color: $secondary-background;
    padding: 0.5em 2em;
    margin-bottom: 2em;

    h3 {
      margin-bottom: 1em;
    }
  }

  .description {
    white-space: pre-wrap;
  }

  .event-heading {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    p {
      margin-bottom: 0;
    }
  }

  .singleEventContainer {
    overflow: hidden;
    word-break: break-word;
  }
}
