div.content-block
    p.bodyText Mikäli haluat muokata tai perua ilmoittautumisesi, voit tehdä sen painamalla tätä #[a( href=cancelLink ) linkkiä].
    p.bodyText If you want to edit or cancel your signup, please use this #[a( href=cancelLink ) link].