div.content-block
    p.bodyText Tapahtuman tiedot // Event information:
    ul
        li
            strong Tapahtuma // Event: 
            | #{event.title}
        li 
            strong Sijainti // Location: 
            | #{event.location}
        li 
            strong Aika // Date: 
            | #{date}
