@import "../../styles/base";

.tab {
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.sortable-item {
  flex-direction: row !important;
  margin-bottom: 1rem;

  .quota-body, .question-body {
    margin: 0;
    padding: 1.25rem;
    flex-grow: 1;
    background: $secondary-background;

    .no-focus {
      user-select: none;
    }
  }

  .handler {
    position: relative;
    width: 40px;
    background: #fff;
    border-right: 1px solid #ddd;
    cursor: move;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      right: 5px;
      top: 50%;
      height: 1px;
      background: #ddd;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 5px;
      right: 5px;
      top: calc(50% - 10px);
      height: 21px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }
}

.event-editor {
  .tab-content {
    margin-top: 20px;
  }
}


@include media-breakpoint-down(xs) {
  .event-editor--question-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    > *:not(:last-child) {
      margin-right: $spacer * 0.5;
    }
    > button:first-of-type {
      margin-left: auto;
    }
  }
}

.event-editor--valid-notice {
  display: flex;
  position: absolute;
  right: 20px;
  top: 170px;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  overflow: hidden;
  transition: all 0.5s ease;

  &.collapsed {
    height: 0;
    opacity: 0;
  }

  span b {
    color: #d74949;
    margin-right: 5px;
    font-weight: normal;
  }
}

.event-editor--saving-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
}

.event-editor--buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  .spinner-border {
    align-self: center;
  }

  .event-editor--public-status {
    padding: 0 20px;

    .event-editor--bubble {
      display: inline-block;
      vertical-align: -0.15em;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      margin-right: 10px;

      &.draft {
        background-color: orange;
      }

      &.public {
        background-color: green;
      }
    }
  }
}

.event-editor--animated {
  transition: all 0.3s ease;
}

.event-editor--loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.event-editor--nav {
  clear: both;
  padding-top: 1em;
}

.event-editor--signup-table {
  overflow-y: scroll;
}
