@use "sass:color";

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Source+Sans+Pro&display=swap');

// Bootstrap override colors
$primary: #201E1E;
// $secondary: #0288d1 !default;
$secondary: #FF8A04;
$text-muted: #888 !default;
$red: #d74949 !default;
$green: #319236 !default;

// Additional colors
$secondary-background: #f1f1f1 !default;
$secondary-text-color: #7a7a7a !default;

// Bootstrap core mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$signup-state-not-opened: $body-color !default;
$signup-state-opened: $green !default;
$signup-state-closed: $red !default;
$signup-state-disabled: color.change($body-color, $alpha: 0.45) !default;
