extends ../layout.pug

block mainContent
	div.content-block
		p.bodyText Sinulle on luotu admin-tunnukset Ilmomasiinaan.:
		ul
			each val in fields
				li
					strong #{val.label}:
					| #{val.answer}
	p.bodyText Voit kirjautua sisään osoitteessa #{branding.siteUrl}:
