@import '../../styles/_base.scss';

.navbar-default {
  border: none !important;

  // Guild logo
  img {
    max-width: 5.2rem;
    float: left;
    vertical-align: middle;
  }

  a.navbar-brand {
    transition: 0.5s;
    color: #fff;
    font-size: 18px;
    font-family: $font-family-sans-serif;
    font-style: normal;
    //text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 25px;
  }

  a.navbar-brand:focus,
  a.navbar-brand:hover {
    padding-right: 30px;
  }
}
