@import '../../styles/_base.scss';

.navbar-default {
  border: none !important;

  a.navbar-brand,
  a.navbar-brand:focus,
  a.navbar-brand:hover {
    color: #fff;
    font-size: 18px;
    font-family: $font-family-serif;
    font-style: italic;
    //text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
