@import "../../../../styles/base";

.close {
  position: absolute;
  right: 30px;
  top: 30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $alt-text;
  }
  &:before {
    transform: (rotate(45deg));
  }
  &:after {
    transform: (rotate(-45deg));
  }

  &:hover {
    &:before,
    &:after {
      background: lighten($alt-text, 20%);
    }
  }
}

.form-wrapper {
  width: 100%;
  margin: -22px 0 3em;
  padding: 4em 0;
  position: relative;

  p {
    margin: 2em 0;
  }
}

.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  justify-content: flex-start;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
  font-weight: bold;
}

.flex-inner li label {
  font-weight: normal;
}
