@import "../../../../styles/base";

button.close {
  position: absolute;
  right: 30px;
  top: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -0.75px;
    background: $body-color;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
