@import '../styles/_base.scss';
@import '../styles/_bootstrap.scss';

table.eventlist {
  tr.child {
    td:first-child {
      padding-left: 30px;
    }
    td {
      border-top: 0;
      padding-top: 0;
    }
  }
}

@media (max-width: $screen-xs-max) {
  table.eventlist {
    max-width: 100%;
    overflow: hidden;

    thead {
      display: none;
    }

    tbody {
      tr {
        display: block;
        padding: 10px 0 0;
        margin-top: 10px;

        td {
          display: block;
          padding: 0;
          border-top: 0;
        }

        td.title a {
          font-weight: 600;
        }

        td.signup, td.going {
          text-transform: lowercase;
          &:before {
            content: attr(data-xs-prefix);
            text-transform: none;
          }
        }
      }

      tr:not(:first-child) {
        border-top: 1px solid #ddd;
      }

      tr.child {
        padding-left: 15px;
        padding-top: 0;
        margin-top: 5px;
        border-top: 0;

        td.title {
          font-weight: 600;
          padding-bottom: 0;
        }

        td, td:first-child {
          padding-left: 0;
          padding-top: 0;
          font-size: 0.85em;
        }
      }
    }
  }
}
